@import "./assets/css/reset.css";
* {
  box-sizing: border-box;
}
.banner-top {
  display: flex;
  align-items: center;
  background-color:white;
  border-bottom: solid #EDEDED 1px;
  height: 79px;
}
nav, h1 {
  font-family: Arial, Helvetica, sans-serif;
  /* color: red; */

}
body {
  /* width: 1200px; */
  margin:0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  width: 1222px;
  margin:0 auto;
  /* border-bottom: solid grey 1px; */
  /* background-color:white; */
}
.right {
  display: flex;
  justify-content: right;
  /* margin-left: 10px; */
  width: 100%;
}

 .vends{
  border:solid #2DB0BA 1px;
  /* background: none; */
border-radius: 4px;
height: 28px;
width: 7.2rem;
/* background: ##2DB0BA ; */
background-color: #2DB0BA;
color: white;
}

button {
  /* display: flex; */
  border:solid #2DB0BA 1px;
  background: none;
border-radius: 4px;
height: 28px;
width: 7.2rem;
margin-left: 1rem;
color: #2DB0BA;
}
.banner-top img {
  display: flex;
  /* width: 50%; */
  height: 46px;
  /* border: solid red 1px; */
  object-fit: contain;
}
