@import "./assets/css/reset.css";

.banner-top {
  background-color:white;
  border-bottom: solid #EDEDED 1px;
}
nav, h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;

}
header {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  width: 1200px;
  margin:0 auto;
  /* border-bottom: solid grey 1px; */
  /* background-color:white; */
}
.right {
  display: flex;
  justify-content: right;
  /* margin-left: 10px; */
  width: 100%;
}

 .vends{
  border:solid #017580 1px;
  /* background: none; */
border-radius: 4px;
height: 28px;
/* background: #017580 ; */
background-color: #017580;
color: white;
}

button {
  /* display: flex; */
  border:solid #017580 1px;
  background: none;
border-radius: 4px;
height: 28px;
margin-left: 1rem;
}
/* img {
  display: flex;
  width: 100%;
  height: 650PX;
  border: solid red 1px;
  object-fit: cover;
} */
 .bannerimg {
  display: flex;
  width: 100%;
  height: 650px;
  background-color: rgb(213, 191, 233);
  object-fit: cover;
   /* border: solid red 1px; */
}
/* main {
  display: flex;
  width: 100%;
  height: 100%;
} */